# beebs_prime 9.69%

![alt text](image-2.png)

![alt text](image-3.png)

# 